*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(213, 19%, 18%);
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#submit-state{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    margin: 20px auto;
    width: 85%;
    height: 100%;
}

#submit-state div p{
    background-color:hsl(213, 19%, 18%);
    color:hsl(25, 97%, 53%);
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    padding: 0.5em 1em;
}

#submit-state  p{
    text-align: center;
}

#rating-state{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:normal;
    margin: 20px auto;
    width: 85%;
    height: 100%;
}

.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


p{
    color:  hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
    
}

#rating-state span:has(+span:hover){
    background: hsl(216, 12%, 54%) ;
    color: hsl(0, 0%, 100%);
}

#rating-state span:hover{
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

button:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

@media screen and (max-width: 420px){
    #app{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
        background-color: hsl(216, 12%, 8%);
        border-radius: 5%;
        width: 90vw;
        height: 50vh;
        margin: 50% auto;
    }
    #star{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background:hsl(213, 19%, 18%);
        width: 10vw;
        height: 5vh;
    }
    #rating-state span{
        text-align: center;
        padding: 1.5vh 0em;;
        width: 10vw;
        height: 5vh;
        border-radius: 50%;
        background: hsl(213, 19%, 18%);
        color: hsl(217, 12%, 63%);
        font-weight: 400;
        font-size: 1rem;
        cursor: pointer;
    }
    button{
        width: 95%;
        height: 10%;
        margin: 0 auto;
        border-radius: 50px;
        background:hsl(25, 97%, 53%);
        color:  hsl(0, 0%, 100%);
        cursor: pointer;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        
    }
}

@media screen and (min-width: 421px){
    #app{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        background-color: hsl(216, 12%, 8%);
        border-radius: 5%;
        width: 30vw;
        height: 60vh;
        margin: 10% auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #star{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background:hsl(213, 19%, 18%);
        width: 4vw;
        height: 7vh;
    }
    #rating-state span{
        text-align: center;
        padding: 2vh 0em;;
        width: 4vw;
        height: 7vh;
        border-radius: 50%;
        background: hsl(213, 19%, 18%);
        color: hsl(217, 12%, 63%);
        font-weight: 400;
        cursor: pointer;
    }
    button{
        width: 95%;
        height: 10%;
        margin: 0 auto;
        border-radius: 50px;
        background:hsl(25, 97%, 53%);
        color:  hsl(0, 0%, 100%);
        cursor: pointer;
        border: none;
        font-size: 1rem;
        font-weight: 700;
    }
}